<h1>Listing q_and_as</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @q_and_as.each do |q_and_a| %>
  <tr>
    <td><%= q_and_a.question %></td>
    <td><%= q_and_a.answer %></td>
    <td><%= link_to 'Show', q_and_a %></td>
    <td><%= link_to 'Edit', edit_q_and_a_path(q_and_a) %></td>
    <td><%= link_to 'Destroy', q_and_a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Q and A', new_q_and_a_path %>
